<mat-toolbar color="accent" class="header-toolbar">

    <div class="header-left">
        <span class="header-logo">Control de asistencia</span>
    </div>

    <div class="header-center">
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a mat-button routerLink="/registrar-asistencia" routerLinkActive="active-link">Registrar asistencia</a>
        <a mat-button *ngIf="isAdmin" routerLinkActive="active-link" routerLink="/admin">Admin</a>
        <!-- <a mat-button routerLink="/admin" routerLinkActive="active-link">Admin</a> -->
        <a mat-button *ngIf="isDocente" routerLink="/mis-asistencias" routerLinkActive="active-link">Mis asistencias</a>

    </div>

    <div class="header-right">
        <!-- <button mat-icon-button aria-label="Mi cuenta" routerLink="/login">
            
        </button> -->
        <a mat-button *ngIf="!loggedIn" routerLink="/login">
            Iniciar sesión
            <mat-icon>login</mat-icon>
        </a>
        
        <button mat-button *ngIf="loggedIn" (click)="logout()">
            Cerrar sesión
            <mat-icon>logout</mat-icon>
        </button>
        
    </div>
</mat-toolbar>