.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  button {
    margin: 10px;
  }
  
  .disabled {
    color: gray;
    text-decoration: line-through;
  }
  
 .td {
    cursor: pointer;
 }