<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="/admin/usuarios">
                    <mat-icon>manage_accounts</mat-icon>
                    Usuarios
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/materias">
                    <mat-icon>rate_review</mat-icon>
                    Materias
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/docentes">
                    <mat-icon>school</mat-icon>
                    Docentes
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/grupos">
                    <mat-icon>groups</mat-icon>
                    Grupos
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/reportes">
                    <mat-icon>summarize</mat-icon>
                    Reportes
                </button>
            </mat-list-item>
            <!-- <mat-list-item>
          <button mat-button routerLink="/admin/pedidos-pendientes">
            <mat-icon>shopping_cart</mat-icon>
            Pedidos pendientes
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/admin/extras">
            <mat-icon>extension</mat-icon>
            Extras
          </button>
        </mat-list-item> -->
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>