<div class="container">
  <h1>Registrar asistencia</h1>

  <ng-container *ngIf="!isChecador">
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar grupo</mat-label>
      <mat-select [(ngModel)]="selectedGrupo" (selectionChange)="onGrupoChange()">
        <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
          {{ grupo.nombreGrupo }} - {{ grupo.carrera.nombre }}F
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="fill">
    <mat-label>Seleccionar fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange()" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <ng-container *ngIf="isChecador">
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar hora</mat-label>
      <mat-select [(ngModel)]="selectedHora" (selectionChange)="onHoraChange()">
        <mat-option *ngFor="let hora of horas" [value]="hora.id">
          {{ hora.horaInicio }} - {{ hora.horaFin }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-card *ngIf="grupos.length === 0" class="no-grupos-card">
    <mat-card-content>
      <h2>No hay grupos disponibles</h2>
      <p>No tienes asignado ningun grupo todavía.</p>
    </mat-card-content>
  </mat-card>

  <table *ngIf="grupos.length > 0" mat-table [dataSource]="modulos" class="mat-elevation-z8">

    <ng-container matColumnDef="aula">
      <th mat-header-cell *matHeaderCellDef> Aula </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.aula.numero }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="grupo">
      <th mat-header-cell *matHeaderCellDef> Grupo </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.grupo.nombreGrupo }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="carrera">
      <th mat-header-cell *matHeaderCellDef> Carrera </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.grupo.carrera.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef> Materia </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.materia.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.hora.horaInicio }} - {{ modulo.hora.horaFin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="docente">
      <th mat-header-cell *matHeaderCellDef> Docente </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        {{ modulo.docente.nombre }} {{ modulo.docente.apellido }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let modulo" [style.backgroundColor]="getRowColor(modulo)">
        <button mat-button (click)="toggleAsistencia(modulo)">
          <mat-icon>{{ getRowColor(modulo) === 'lightgreen' ? 'check_circle' : 'cancel' }}</mat-icon>
          {{ getRowColor(modulo) === 'lightgreen' ? 'Impartida' : 'No Impartida' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>