<div class="adminContainer">
    <app-sidebar></app-sidebar>
    <div class="container">

        <h1>Bienvenido al modulo de administrador</h1>
        <img id="imgAdmin" src="{{ environment.url }}/admin.jpeg" alt="">

        <div class="admin-project-info" style="margin-top: 20px; padding: 20px; border: 2px solid #ddd; border-radius: 12px; background: linear-gradient(145deg, #e3f2fd, #ffffff); box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <p style="text-align: center; font-size: 1.1em; font-weight: bold; color: #0277bd;">
                4-02 IS <br>
                Este proyecto fue hecho por 
            </p>
                <ul>
                    <li>Ana Gabriela Zepeda Ramírez</li>
                    <li>Andrik Sebastian Gómez Valdez</li>
                    <li>Ramón de Jesús Ruiz Castro</li>
                    <li>Luis Mario López Reyes</li>
                </ul>
        </div>

        

    </div>

</div>