.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  margin-top: 20px;
}

mat-form-field {
  margin-right: 20px;
}

mat-row {
  transition: background-color 0.3s ease;
}

mat-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.estado-impartida {
  color: green;
}

.estado-no-impartida {
  color: red;
}