<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Iniciar sesión</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="login()">
          <mat-form-field appearance="fill">
            <mat-label>Número de cuenta</mat-label>
            <input matInput [(ngModel)]="credentials.numeroDeCuenta" name="numeroDeCuenta" type="text" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="credentials.password" name="password" type="password" required />
          </mat-form-field>
          <div class="actions">
            <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>